@tailwind base;
@tailwind components;
@tailwind utilities;

.username__input{
  filter: drop-shadow(var(--primary-violet) 0px 0px 2px);
}
.username__input:focus{
  filter: drop-shadow(var(--primary-violet) 0px 0px 30px);
  outline-color: var(--primary-violet);
}

.username__input.error{
  filter: drop-shadow(var(--red) 0px 0px 40px);
  outline-color: var(--red);
}

.sibling, .username__button::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid var(--primary-violet);
  transition: width 0.3s ease-in-out;

}

.username__button:hover::after{
  width: 100%;
}
.btn__send {
  filter: drop-shadow(var(--primary-indigo) 0px 0px 30px);;
}
.btn__send:hover ~ .sibling{
  width: 100%;
}

.btn__send.error{
  filter: drop-shadow(var(--red) 0px 0px 50px);
}

.btn__send.error:hover{
  filter: drop-shadow(var(--primary-indigo) 0px 0px 30px);;
  @apply bg-primary-gradient;
}