@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Sugam";
	src: url('./assets/fonts/CircularSp-Book.woff2') format('woff2');
	font-style: normal;
	font-display: swap;
}

html{
  width: 500px;
  height:600px
}

:root,:root::after,:root::before {
	-webkit-tap-highlight-color: transparent;
	margin: 0;
  line-height: 1.5;
	padding: 0;
	box-sizing: border-box;
	font-weight: 500;
	color: #fff;
	user-select: none;
	overflow: hidden;

	font-family: "Sugam", sans-serif;
	--primary-black: #111111;
	--primary-indigo: #3730a3;
	--primary-violet: #845ef7;
	--primary-grey:#6b7280;
  --red:#dc2626;
}

.hide_scrollbar::-webkit-scrollbar {
  display: none; /*Opera,  Safari and Chrome*/
}
.hide_scrollbar{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
.animated__gradient {
  background: linear-gradient(44deg, #4c1d95, #312e81, #3730a3, #5b21b6);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 3s ease infinite;
  -moz-animation: AnimationName 3s ease infinite;
  animation: AnimationName 3s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:92% 0%}
  50%{background-position:9% 100%}
  100%{background-position:92% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:92% 0%}
  50%{background-position:9% 100%}
  100%{background-position:92% 0%}
}
@keyframes AnimationName {
  0%{background-position:92% 0%}
  50%{background-position:9% 100%}
  100%{background-position:92% 0%}
}
